{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@emotion/babel-preset-css-prop"
  ],
  "plugins": [
    "emotion",
    "transform-node-env-inline",
    ["@babel/plugin-proposal-class-properties"]
  ]
}
